<ion-split-pane>

  <ion-menu contentId="content">

    <ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>

        <ion-menu-toogle auto-hide="false" *ngFor="let p of pages">
<ion-item [routerLink]="p.url" routerDirection="root" [class.active-item]="selectedPath === p.url">
  {{ p.title }}
</ion-item>
        </ion-menu-toogle>

      </ion-list>
    </ion-content>
  </ion-menu>
  
  <ion-router-outlet id="content" main></ion-router-outlet>
</ion-split-pane>